.menu-button > .arrow-button
{
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow
{
    -fx-background-insets: 0 0 0 0, 0;
    -fx-padding: 0;
    -fx-shape: null;
}

#kebabMenu{
    -fx-background-color: transparent;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #aaa;
    -fx-padding: 0;
}

#aboutImage{
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-radius: 25;
}

#aboutMeText{
    -fx-background-color: red;
    -fx-text-color: red;
}